*{
    margin: 0;
    text-decoration: none;
    font-family: 'Lora', serif;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}
h1{
    background-color:#2e0d0a;
    color:white;
    text-align: center;
    font-size: 500%;
}

h3{
    background-color: #3b1612;
    color:white;
    text-align: center;
    font-size: 150%;
}

h2{
    background-color: #3b1612;
    color:white;
    text-align: center;
    font-size: 150%;
}

body{
    background-color: #732a15;
    color:white;

}

table{
    background-color: #ee671e;
    color:white;
    text-align: justify;
    margin: auto;

}

.flex_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ee671e;
    margin: 10%;
    padding: 10px;
    font-size:xx-large;
    color:white;
}
.form{
    text-align: center;
    flex:1;
    color:white;

}
.form_submit{
    size:10%;
    color:white;
}

.cuerpo{
    margin-left: 200px;
    margin-right: 200px;
    color:white;

}
.info{
    text-align: center;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 15px;
    background-color: #5e120a;
    color:white;
    position: relative;
}
.trabaja{
    text-decoration: none;
    font-size: 30px;
    color:white;

}
.cabeza{
    position: sticky;
    text-align: center;
    color:white;
    top:0;
}
.foto{
    text-align: center;
}
.menu{
    text-align: center;
}